$font-1: "Roboto", sans-serif;

$btn-color: rgba(174, 181, 185, 0.5);
$input-color: rgba(174, 181, 185, 0.3);

$font-color: #ffffff;
$font-color-2: rgba(256, 256, 256, 0.5);

$font-size: 1.1rem;
$font-size-2: 2.8rem;
$font-size-3: 15rem;
$font-size-4: 5rem;
$font-size-5: 1.4rem;
$line-height: 1.5rem;
$line-height-2: 3rem;
$line-height-3: 20rem;
$line-height-4: 5.2rem;
$line-height-5: 2rem;


$height-btn: 44px;
$width-btn: 44px;
$height-icon: 30px;
$width-icon: 30px;
$height-cloud: 60px;
$width-cloud: 60px;

$max-width-input: 350px;

$first-color: rgba(0, 0, 0, 0.8);
$second-color: rgba(105, 105, 105, 0.8);

$shadow-color: rgba(0, 0, 0, 0.3);
$shadow: 0 0 10px 0 $shadow-color;

$pad-search-btn: 0 1em;
$pad-input: 0 0 0 1rem;
$bor-radius-search: 0 5px 5px 0;

$margin-righ: 1rem;
$margin-righ-2: 2.5rem;
$padding: 2.5rem;
$padding-2: 1rem;

$pad-left: 0.5em;
$bor-radius: 5px;

$transition: 0.5s linear;

$none: none;
$pos-rel: relative;
$pos-a: absolute;
$autom: 0 auto;
$bor-0: 0;
